<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="bootstrap3/css/bootstrap.min.css">

    <title>购物车Demo</title>
    <script src="angular/angular.min.js"></script>
    <script src="app/cart.js"></script>

</head>
<body ng-app="cartApp">

        <div ng-controller="cartCtrl" class="container" >
           
            <table class="table" ng-show="cart.length"><!--quand le panier n'est pas vide-->
                <thead>
                <tr>
                    <th>product number</th>
                    <th>product name</th>
                    <th>quantity</th>
                    <th>price</th>
                    <th>total price</th>
                    <th>operation</th>
                </tr>

                </thead>
                <tbody>
                <tr ng-repeat="item in cart">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>
                        <button type="button" ng-click="reduce(item.id)" class="btn btn-primary">-</button>
                        <input type="number" ng-model="item.quantity" value="item.quantity">
                        <button type="button" ng-click="add(item.id)" class="btn btn-primary">+</button>
                    </td>
                    <td>{{item.price}}</td>
                    <td>{{item.price * item.quantity}} </td>
                    <td>
                        <button type="button" ng-click="remove(item.id)" class="btn btn-danger">delete</button>
                    </td>
                </tr>
                <td>
                    total number{{totalCount()}}</td>
                   <td> total price of the commande：{{totalPrice()}}</td>
                <td><button type="button" ng-click="cart={}" class="btn btn-danger">clear</button></td>

                </tbody>
            </table>
            <!--cart.length n'exist-->
            <p ng-show="!cart.length">it's empty</p>

        </div>

</body>
</html>